@tailwind base;
@tailwind components;
@tailwind utilities;

.full-page {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .page-header {
    background-color: #e0e0e0;
    padding: 10px;
    font-size: 20px;
    color: #424242;
    text-align: center;
  }
  
  .quiz-container {
    display: flex;
  }
  
  .quiz-content {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #000;
    font-size: 24px;
  }
  
  .question-container {
    display: flex;
  }
  
  .question-sidebar {
    background-color: #e3f2fd;
    padding: 15px;
    width: 180px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .question-sidebar p {
    margin: 10px 0;
  }
  
  .question-box {
    flex: 1;
    padding: 15px;
    background-color: #e3f2fd;
    border-radius: 5px;
  }
  
  .answer-section {
    margin-top: 20px;
  }
  
  select,
  textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #0288d1;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0277bd;
  }
  
  .quiz-navigation {
    width: 200px;
    margin-left: 20px;
    padding: 10px;
    background-color: #e3f2fd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-navigation p {
    margin-bottom: 10px;
  }
  
  .nav-buttons button {
    padding: 10px;
    margin-right: 5px;
    background-color: #eeeeee;
    border: none;
    border-radius: 4px;
  }
  
  .nav-buttons button.active {
    background-color: #0288d1;
    color: white;
  }
  
  .nav-buttons button:hover {
    background-color: #90caf9;
  }
  